src/main/mule/practica_tecnica.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="practica_tecnicaFlow" doc:id="920c7abb-82ec-48f6-bd64-3df5ec054735" >
		<http:listener doc:name="Listener" doc:id="f1fa06d5-efec-4e52-9923-cdcaf52a1d48" config-ref="HTTP_Listener_config" path="/api/v1/sps/customers"/>
		<logger level="INFO" doc:name="Logger" doc:id="169e7327-2aa4-4025-8e09-c2b257ee2fba" message='#[output application/java&#10;---&#10;"Username: " ++ Mule::p("secure::database.user")&#10;++ " - " ++&#10;"Password: " ++ Mule::p("secure::database.password")]'/>
		<db:select doc:name="Select" doc:id="c1669174-bef9-44c0-b0bc-610c75baddad" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM customers;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="44329be0-e716-45ff-9a31-4760300b8a4b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
